@import url("https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap");

.platforms_top {
  margin-top: 10px;
  margin-left: 17px;
  display: flex;
  row-gap: 1px;
  column-gap: 3px;
  flex-wrap: wrap;
}

.logo_ad {
  width: 200px;
  height: 200px;
  user-select: none;
  object-fit: cover;
}
