.intrst_count {
  position: relative;
  /* top: 1px; */
}

@keyframes likeAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.like-icon {
  transition: color 0.3s ease, transform 0.3s ease;
}

.like-icon.liked {
  color: red;
  animation: likeAnimation 0.5s ease;
}

.liked {
  color: #f4245e !important;
}

.replied {
  color: #1da1f2;
}
