.video-container {
  width: 400px;
  border-radius: 10px;
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
}

.video-container {
  width: 400px;
  border-radius: 10px;
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
}
