.settings-link {
  display: block;
  padding: 15px;
  font-size: 20px;
  color: #7f7d7d;
  display: flex;
  align-items: center;
  font-family: "Noto Sans", sans-serif;
  justify-content: space-between;
  transition: 0.2s;
  font-weight: 700;
}

.settings-link:hover {
  background: #b5b3b3;
}

.icon_right {
  display: block;
}
